@font-face {
    font-family: 'Panther';
    src: url('./Panther Hunter Personal Use Only.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    background-color: #22223B;
    color: #FFFFFF;
}

nav{
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 20%;
    height: auto
}

#nav{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 1%;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 20px;
    background-color: #4A4E69;
}

#nav li{
    background-color: #C9ADA7;
    color: black;
    padding: 2%;
    border-radius: 20px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
    background-color: #9A8C98;
    padding: 0;
    margin: 0;
    height: 50%;
}

h1{
    font-size: 5rem;
    font-family: 'Panther', sans-serif;
    letter-spacing: 2px;
}

h3{
    font-size: 2rem;
}

#pdp{
    border-radius: 400px;
}